.btn-to-form {
	margin-bottom: 15px;
}

svg {
    font: 10px sans-serif;
}

.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

td, th {
    text-align: center;
}

td.font12 {
	font-size: 12px;
	font-style: oblique;
	text-align:left;
}

.table thead>tr>th.vert-align {
    vertical-align: middle;
}

.error {
    color: #F7122D;
}

.ok {
    color: rgb(70, 136, 71);

    background-color:  rgba(112, 199, 71, 0.51);
}

.nok {
    color: rgb(241, 241, 241);
    background-color: #F7122D;
}

.warning{
   background-color:#FAA32F;
}
.ongoing {
    background-color: rgb(255, 245, 210);
}

.idle {
}

h4.running {
    color: rgb(70, 136, 71);
}

.table-hover > tbody > tr > td.remarked {
	color: #000000;
  	background-color: #dce9e9;
}

.table-hover > tbody > tr:hover > td.remarked {
	color: #000000;
  	background-color: #dce9e9;
}

.table-hover > tbody > tr > td.remarked a {
	color: #000000;
  	background-color: #dce9e9;
  	border-color: #dce9e9;
}
.table-hover > tbody > tr:hover > td.remarked a {
	color: #000000;
  	background-color: #dce9e9;
  	border-color: #dce9e9;
}

.aia-logo {
    position: relative;
    float: left;
    height: 77px;
    width: 85px;
    top: 0px;
    background:url(../img/logo.png) no-repeat;
}

.login {
    width: 350px;
}

h2.form-signin-heading-color, .h2.form-signin-heading {
    color: #808080;
}

.btn:hover, .btn:focus {
    color: #000000;
    text-decoration: none;
}

.form-control-border {
    border: 1px solid #8fbecd;
}

.form-control:focus {
    border-color: #5978c1;
}

.navbar-color {
    position: relative;
    height: 80px;
    background: transparent url(../img/navbar-background.jpg) no-repeat center top;
}

.panel-default > .panel-heading {
    color: #113f84;
    background-color: #c0c0c0;
    border-color: #c0c0c0;
}

.panel-default > .panel-heading > .panel-title {
    font-weight: bold;
}

.btn-info {
  color: #fff;
  background-color: #d2d2d2;
  border-color: #bbbbbb;
}

.btn-info {
  color: #113f84;
  background-color: #d2d2d2;
  border-color: #bbbbbb;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #c3c3c3;
  border-color: #bbbbbb;
}

.btn-danger {
  color: #113f84;
  background-color: #d2d2d2;
  border-color: #bbbbbb;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #c3c3c3;
  border-color: #bbbbbb;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  z-index: 2;
  color: #000000;
  background-color: #dce9e9;
  border-color: #dce9e9;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #113f84;
    background-color: #fff;
}


.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #A0AA9F;
}

.light-grey {
    background-color: #D2E8F3;
}

.light-grey-green {
    background-color: #e8eae9;	
}
.empty {
	background-color:  #FFF;
}




div.texthover {
    width:100%;
    display:block;
    position:relative;
    text-align: center!important;
    }
div.texthover .overlay {
    position:absolute;
    padding:10px;
    background-color:rgba(0, 0, 0, 0.3);
    display:none;
    white-space: nowrap;
    z-index:4;
	}
div.texthover:hover .overlay {
    display:block;
	}

#boxDetails {
	width: 400px;
	height: 40px;
	padding: 0px;
	margin-bottom: 2px;
	overflow-y: scroll;
}

.ppp{
	display: none;
	border: 1px dashed Navy;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	width: 500px;
	text-align: justify;
	}	
	