<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Workflows</h3>
	</div>
	<div class="panel-body">
		<div ng-if="currentWorkflow == null"
			class="col-sm-offset-11 btn-to-form">
			<button type="button" class="btn btn-default" ng-click="create()"
				target="_top">New</button>
		</div>
		<form ng-if="currentWorkflow != null" class="form-horizontal">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-6">
							<p class="panel-title">Source</p>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-2 control-label">Select a catalog:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="catalog"
								value="{{parameters.catalogName}}" readonly>
						</div>
						<div class="col-sm-1">
							<button type="button" class="btn btn-default"
								data-toggle="modal"
								data-target="#catalogModal" target="_top">*</button>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Select a case:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="case"
								value="{{parameters.caseName}}" readonly>
						</div>
						<div class="col-sm-1">
							<button type="button" class="btn btn-default"
								data-toggle="modal" data-target="#caseModal" target="_top">*</button>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Select a DDR:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="ddr"
								value="{{parameters.ddrName}}" readonly>
						</div>
						<div class="col-sm-1">
							<button type="button" class="btn btn-default"
								data-toggle="modal" data-target="#ddrModal" target="_top">*</button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-6">
							<p class="panel-title">Loadflow</p>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-2 control-label">Select a engine:</label>
						<div class="col-sm-9">
							<select class="form-control" ng-model="selectedLoadflow" ng-change="selectLoadflow(selectedLoadflow)">
								<option value=0 ng-selected="{{parameters.engineLoadflow==0}}">HADES</option>
								<option value=1 ng-selected="{{parameters.engineLoadflow==1}}">HELM FLOW</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-6">
							<p class="panel-title">Modelica network</p>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="col-sm-offset-1">
						<label>
							<input type="checkbox" ng-model="mainConnectedComponentOnly"  
								ng-change="setMainConnectedComponentOnly(mainConnectedComponentOnly)"
								ng-checked="{{parameters.mainConnectedComponentOnly}}"> 
								Only main connected component
						</label>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-6">
							<p class="panel-title">Events</p>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-2 control-label">Added events:</label>
						<div class="col-sm-9">
							<select multiple ng-model="selectedEvent" ng-options="event.actionText + ' - ' + event.element for event in parameters.events" class="form-control">
							</select>
						</div>
						<div class="col-sm-1">
							<button type="button" class="btn btn-default"
								data-toggle="modal"
								data-target="#eventModal" target="_top">+</button>
							<button type="button" class="btn btn-default"
								data-toggle="modal"
								ng-click="removeEvent(selectedEvent)">-</button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-6">
							<p class="panel-title">Dynamic simulation</p>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-2 control-label">Select a engine:</label>
						<div class="col-sm-9">
							<select class="form-control" ng-model="selectedDS" ng-change="selectDS(selectedDS)">
								<option value=0 ng-selected="{{parameters.engineDS==0}}">DYMOLA</option>
								<option value=1 ng-selected="{{parameters.engineDS==1}}">OPENMODELICA</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-offset-10 btn-to-form">
				<button type="button" class="btn btn-default" data-dismiss="modal"
					ng-click="cancel()">Cancel</button>
				<button type="button" class="btn btn-default" data-dismiss="modal"
					ng-click="start()" target="_top">Start</button>
			</div>
		</form>
	</div>
</div>

<div class="modal" id="catalogModal" tabindex="-1" role="dialog"
	aria-labelledby="catalogModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<h2 class="form-signin-heading-color">Catalog modal.</h2>
				<div class="list-group">
					<a ng-repeat="catalog in namecatalogs"
						ng-click="selectCatalogCandidate(catalog)"
						class="list-group-item {{catalog == catalogCandidate?'active':''}}">{{catalog}}</a>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-default" data-dismiss="modal"
					ng-click="selectCatalog()" target="_top">Select</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="caseModal" tabindex="-1" role="dialog"
	aria-labelledby="caseModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<h2 class="form-signin-heading-color">Case modal.</h2>
				<div class="list-group">
					<a ng-repeat="case in namecases"
						ng-click="selectCaseCandidate(case)"
						class="list-group-item {{case == caseCandidate?'active':''}}">{{case}}</a>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-default" data-dismiss="modal"
					ng-click="selectCase()" target="_top">Select</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="ddrModal" tabindex="-1" role="dialog"
	aria-labelledby="ddrModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<h2 class="form-signin-heading-color">DDR modal.</h2>
				<div class="list-group">
					<a ng-repeat="ddr in nameddrs" ng-click="selectDDRCandidate(ddr)"
						class="list-group-item {{ddr == ddrCandidate?'active':''}}">{{ddr}}</a>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-default" data-dismiss="modal"
					ng-click="selectDDR()" target="_top">Select</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="eventModal" tabindex="-1" role="dialog"
	aria-labelledby="eventModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<h2 class="form-signin-heading-color">Event modal.</h2>
				<div>
					<label>Select an action: </label>
					<select ng-model="event.action">
						<option value=0>OPEN</option>
						<option value=1>CLOSE</option>
						<option value=2>MODIFY</option>
					</select>
				</div>
				<div>
					<label>
						<input type="text" ng-model="event.element"> 				
					</label>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-default" data-dismiss="modal"
					ng-click="addEvent(event)" target="_top">Select</button>
			</div>
		</div>
	</div>
</div>


<div ng-if="workflows != null" class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-6">
				<p class="panel-title">Workflows</p>
			</div>

		</div>
	</div>
	<div class="panel-body">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th class="vert-align light-grey-green" rowspan="1">Workflow
						ID</th>
					<th class="vert-align light-grey-green" rowspan="1">Status</th>
				</tr>

			</thead>
			<tbody>
				<tr ng-repeat="workflow in workflows">
					<td ng-class="{  running: workflow.status == 1  }">
						<a ng-click="$parent.activeWorkflowId = workflow.worflowId"
							href="#workflow?wfId={{workflow.worflowId}}">{{workflow.worflowId}}
						</a>
					</td>
					<td ng-class="{  running: workflow.status == 1  }">
						{{workflow.status < 0 ? "UNAVAILABLE" : ( workflow.status == 1 ? 'RUNNING'
							:(workflow.status == 3 ? 'DONE' :'IDLE') ) }}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

