/*menu*/
.btn-menu {
	-fx-background-color: #f0f0f0;
	-fx-border-color: #e6e6e6 #e6e6e6 #acacac #e6e6e6;
	-fx-text-fill: #666666;
	-fx-background-radius: 4 4 0 0;
	-fx-border-radius: 4 4 0 0;
	-fx-border-width: 1;
	}

.btn-menu.active {
	-fx-background-color: #fff;
	-fx-border-color: #acacac;
	-fx-text-fill: #333333;
	-fx-background-radius: 4 4 0 0;
	-fx-border-radius: 4 4 0 0;
	-fx-border-width: 1 1 0 1;
}

/*hover state*/
.btn-menu.active:hover {
	-fx-background-color: #fff;
	-fx-border-color: #acacac;
	-fx-text-fill: #333333;
	-fx-background-radius: 4 4 0 0;
	-fx-border-radius: 4 4 0 0;
	-fx-border-width: 1 1 0 1;
}

/*default*/
.btn-default {
	-fx-background-color: transparent;
	-fx-border-color: #005fac;
}

/*hover state*/
.btn-default:hover, .btn-default .menu-item:hover, .btn-default .menu-item:hover .label {
	-fx-background-color: #005fac;
	-fx-border-color: #005fac;
	-fx-text-fill: white;
}

.btn-default > .arrow-button {
    -fx-padding: 0;
}

.btn-default > .arrow-button > .arrow {
    -fx-padding: 0;
}

/*primary*/
.btn-primary {
	-fx-background-color: #005fac;
	-fx-border-color: #005fac;
	-fx-text-fill: white;
}

/*hover state*/
.btn-primary:hover {
	-fx-background-color: transparent;
	-fx-border-color: #005fac;
	-fx-text-fill: #005fac;
}

/* hidden tab bar */
.hidden-bar {
    -fx-tab-max-height: 0 ;
} 
.hidden-bar .tab-header-area {
    visibility: hidden ;
}

/* titled panel title */
.titled-pane > .title 
{
	-fx-font-weight: bold;
	-fx-padding: 5
}

/* progressLog */
.treeViewItem {
	-fx-font-family: 'monospace';
}

/* tab pane header color */
.tab-pane .tab-header-area .tab-header-background {
	-fx-background-color: white;
	-fx-effect: null;
}

.tree-table-row-cell .tree-disclosure-node .arrow {
    -fx-shape: null;
    -fx-background-color: null;
    -fx-background-image: none;
}
.tree-table-row-cell:expanded .tree-disclosure-node .arrow {
    -fx-shape: null;
    -fx-background-color: null;
    -fx-background-image: none;
}

/* default chart colors */
.default-color0.chart-series-line { -fx-stroke: red; }
.default-color1.chart-series-line { -fx-stroke: green; }
.default-color2.chart-series-line { -fx-stroke: yellow; }
.default-color3.chart-series-line { -fx-stroke: blue; }

.default-color0.chart-line-symbol { -fx-background-color: red; }
.default-color1.chart-line-symbol { -fx-background-color: green; }
.default-color2.chart-line-symbol { -fx-background-color: yellow; }
.default-color3.chart-line-symbol { -fx-background-color: blue; }


.autofill-text {
	-fx-skin: "org.power_systems_modelica.psm.gui.utils.AutoFillTextBoxSkin";
}
